        .checkbox-container {
        	margin-top:40px;
            background: #f8f9fa;
            border-radius: 10px;
            padding: 10px;
            border: 1px solid #e0e0e0;
			width: 93vw;
        }
        .checkbox-item {
            padding: 5px;
            margin-right: 12px;
            margin-top:5px;
            background: white;
            border-radius: 8px;
            border-left: 4px solid #3498db;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
            text-align: left;
            display: inline-block;
            transition: all 0.3s ease;
            width: 150px;
			height: 8vh;
			vertical-align: top;
        }
        .checkbox-item:hover {
            transform: translateX(5px);
            border-left-color: #e74c3c;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        }
        .checkbox-item input {
            width: 20px;
            height: 20px;
            margin-right: 15px;
            cursor: pointer;
        }
         .checkbox-item i {
           margin-right: 1px;
           color: #3498db;
           font-size: 1.2rem;
           min-width: 20px;
       	}
         .checkbox-item:nth-child(2) i {
            color: hsl(230,100%,50%);
        }
        
        .checkbox-item:nth-child(3) i {
            color: #9b59b6;
        }
        
        .checkbox-item:nth-child(4) i {
            color: #e74c3c;
        }
        
        .checkbox-item:nth-child(5) i {
            color: hsl(50,100%,50%);
        }
